<!DOCTYPE html>
<html lang="it">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Questionario sull'Intelligenza Artificiale</title>
  <link rel="stylesheet" href="css/index.css">
</head>
<body>

  <div class="container">
    
    <% if (successo) { %>
        <h1 class="success-message">Questionario inviato</h1>
    <% } %>

    <h1>Questionario sull'Intelligenza Artificiale</h1>
    <form action="invio" method="post">
        <% if (domande) { %>
                 
            <% domande.forEach(domanda => { %>
                <label for="<%= domanda.id %>"><%= domanda.label %></label>
                <% if (domanda.type === 'select') { %>
                    <select 
                        id="<%= domanda.id %>" 
                        name="<%= domanda.id %>"
                    >
                        <option 
                            value="" 
                            <% if (!valori) { %>selected<% } %> 
                            hidden
                        >Scegli risposta
                        </option>
                        <% domanda.options.forEach(option => { %>                      
                        <option 
                            value="<%= option %>" 
                            <% if (valori && valori[domanda.id] === option) { %>selected<% } %>
                        ><%= option %>
                        </option>
                        <% }) %>
                    </select>
                <% } else if (domanda.type === 'textarea') { %>
                    <textarea 
                        id="<%= domanda.id %>" 
                        name="<%= domanda.id %>" 
                        rows="1" 
                        maxlength="<%= domanda.maxlength %>" 
                        disabled>
                            <%= valori && valori[domanda.id] ? valori[domanda.id] : '' %>
                    </textarea>
                <% } else { %>
                    <input 
                        type="<%= domanda.type %>" 
                        id="<%= domanda.id %>" 
                        name="<%= domanda.id %>"
                        value="<%= valori && valori[domanda.id] ? valori[domanda.id] : '' %>"
                    >
                <% } %>
                <% if (errori && errori[domanda.id] === 1) { %>
                    <p class="error-message">Campo richiesto</p>
                <% } %>
            <% }) %>
        <% } %>
      <input type="submit" value="Invia">
    </form>
  </div>

  <script src="js/index.js"></script>
</body>
</html>